::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3ab54a;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #006837;
}
